*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
}

.btn:focus {
  border: none;
  outline: none;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}